/*-------------------------------------------------------------------------        
  Style Sheet for UNDP / QMSS Extractive Industries Data Dive
  
  Some elements here are unique to the application, others override
  styles defined in other libraries, specifically: 
    c3.css
    bootstrap.css
  -----------------------------------------------------------------------*/  
  
/*-------------------------------------------------------------------------        
   Makes D3 text elements look clickable (cursor is an arrow)
  -----------------------------------------------------------------------*/  
    text {
      cursor: default;
    } 
/*-------------------------------------------------------------------------        
  Clickable legend
  -----------------------------------------------------------------------*/  
    .legend:hover {
      opacity:.5;
    }
/*-------------------------------------------------------------------------        
  Heatmap Labels 
  Makes D3 text elements look clickable (cursor is an arrow)
  -----------------------------------------------------------------------*/  
    .heatrowlabel:hover {
      opacity:.5;
    }
    .heatcountrylabel:hover {
      opacity:.5;
    }    
/*-------------------------------------------------------------------------        
  Country Group selection 
  Makes D3 text elements look clickable (cursor is an arrow)
  -----------------------------------------------------------------------*/  
    .mybtn:hover {
      opacity:.7;
    }
        
/*-------------------------------------------------------------------------        
  These override / are applied to Bootstrap elements
  -----------------------------------------------------------------------*/  

    .mybtn {
      margin-bottom: 5;
      padding-left: 3px !important;
      padding-right: 3px !important;
      margin-left: 2px !important;
      margin-right: 2px !important;
      background-color: #eee !important;
      border: 2px !important;
      border-color: #eee !important;
      border-style: solid !important;          
    }   
    .mygroupselect {
      border: 1px solid #ccc; 
      padding-left: 0px; padding-right: 0px; padding-top: 0px;
    }
    .mycol {
      padding-left: 1px; padding-right: 1px; padding-top: 1px;
    }
    h4 {
       margin-top:2px; margin-bottom:2px; font-family: Consolas, courier;

    }
    .jumbotron {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 10;
      
    }
    .jumbotron .container {
      padding-left: 0px !important;
      
    }

    h1 {
      font-size: 50px !important;
    }
    
    .smalltext {
      font-size: 10px !important;
    }  
    .medtext {
      font-size: 13px !important;
    } 
    .datatext {
      font-family: Consolas, courier;
      font-size: 11px;
      display: inline
    }         
    .sourcetext {
      font-size: 13px;
      display: inline
    }         
    .pietext {
      font-size: 16px;
      font-family: Consolas, courier;
      display: inline
    }         
    .sourcedatatext {
      font-family: Consolas, courier;
      font-size: 13px;
      display: inline
    }             
    .btnsmalltext {
      font-family: Consolas, courier !important;
      font-size: 9px !important;
    }        
    
/*-------------------------------------------------------------------------        
  World Map - these are used for highlighting countries. 
  -----------------------------------------------------------------------*/  

    .grouppaths {
      stroke: #5f5f5f !important; /*bf8c5a 2f2f2f 5f5f5f bf8c5a bb7c25 */ 
      stroke-width: 1.8 !important;
      stroke-opacity: 1 !important;  
    }

    .plainpaths {
      stroke: #ffffff !important;
      stroke-width: 1.8 !important;
      stroke-opacity: .1 !important;
    }
    
/*-------------------------------------------------------------------------        
  These override / are applied to c3 elements
  -----------------------------------------------------------------------*/  
  
    #chart2 .c3-line-econ_gdpcon {
      stroke-width: 0px;
    }
    #chart2 .c3-line-econ_gdpconpc {
      stroke-width: 0px;
    }
    #chart2 .c3-line-econ_tax {
      stroke-width: 0px;
    }
    #chart2 .c3-line-rev_gov_resrev_govtrev {
      stroke-width: 3px;
      stroke-dasharray: 5,5;
    }
    #chart2 .c3-line-rev_gov_resrev_gdp {
      stroke-width: 3px;
    }
    #chart2 .c3-line-rev2_gov_nonresrev_gdp {
      stroke-width: 3px;
    }
    #chart2 .c3-line-rev2_gov_resrev_gdp {
      stroke-width: 3px;
    }
    #chart2 .c3-line-calc_gov_resrev_gdp {
      stroke-width: 3px;
    }
    #chart3 .c3-line-rev2_gov_rev_gdp {
      stroke-width: 2px;
    }
    #chart2 .c3-line-calc_rent_total_gdp {
      stroke-width: 3px;
    }
    #chart2 .c3-line-calc_govt_take {
      stroke-width: 0px;
    } 

    #chart3 .c3-line-prod_total {
      stroke-width: 0px;
    } 

    .c3-axis-y-label {
      font-family: Consolas, courier !important;
    }
    .c3-axis-y2-label {
      font-family: Consolas, courier !important;
    }
    .c3-axis-y text {
      font-family: Consolas, courier !important;
    }        
    .c3-axis-y2 text {
      font-family: Consolas, courier !important;
    }
    .c3-axis-x text {
      font-family: Consolas, courier !important;
    }        
    
    .c3-axis-y path {
      stroke-width: 0px !important;
    }
    .c3-axis-y2 path {
      stroke-width: 0px !important;
    }
    /*
    .c3-axis-y line {
      stroke-width: 0px !important;
    }
    */
    div[id*='Compare'] .c3-circle {
      fill: none !important;
    }
    div[id*='Compare'] .c3-line {
      stroke-width: 3px !important;
    }
    div[id*='Compare'] .c3-axis-x path {
      stroke-width: 0px !important;
    }        
    div[id*='Compare'] .c3-legend-item {
      font-family: Consolas, courier !important;
      font-size: 11px !important;
    }
    
/*-------------------------------------------------------------------------        
  Country Group Comparison - Small Multiples
  -----------------------------------------------------------------------*/  
    
    div[id*='smallmult'] .line {
      fill: none;
      /*stroke: #666;*/
      stroke-width: 1.5px;
    }
    div[id*='smallmult'] .area {
      /*fill: #e7e7e7;*/
    }
    /*
    div[id*='stat-'] {
      fill: none;
      stroke-width: 1.5px;
    }
    */
    .statunselected {
      text-anchor: start;
      font-family: Consolas, courier;
      font-size: 11px;
      fill: #bebebe;          
    }
    .heatcountrylabel, .heatrowlabel {
      text-anchor: start;
      font-family: Consolas, courier;
      font-size: 11px;
      fill: #bebebe;          
    }
    
    .piepath {
      stroke: #ffffff; 
      stroke-width: 2;
      stroke-opacity: 1;
    }

