<html lang="en" ng-app="eimodule" ng-init="current_country_id='AGO'">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNDP Extractive Industries Data Dive</title>

    <!-- Load c3.css Style -->
    <link href="css/c3.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <style>
    
    /*-------------------------------------------------------------------------        
      These override Bootstrap Styles
      -----------------------------------------------------------------------*/  

        .mybtn {
          margin-bottom: 5;
          margin-left: 5;
          margin-right: 5;
          background-color: #eee !important;
          border: 2px !important;
          border-color: #eee !important;
          border-style: solid !important;
        }
        h2 {
           margin-top:5px; margin-bottom:5px;
        }
        h3 {
           margin-top:5px; margin-bottom:5px;
        }
        h5 {
           margin-top:5px; margin-bottom:2px;
        }
        .jumbotron {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 10;
          
        }
        h1 {
          font-size: 50px !important;
        }
        
    /*-------------------------------------------------------------------------        
      These are used for highlighting countries. bf8c5a bb7c25
      -----------------------------------------------------------------------*/  

        .grouppaths {
          stroke: #5f5f5f !important; /*bf8c5a 2f2f2f 5f5f5f */ 
          stroke-width: 1.8 !important;
          stroke-opacity: 1 !important;  
        }

        .plainpaths {
          stroke: #ffffff !important;
          stroke-width: 1.4 !important;
          stroke-opacity: .1 !important;
        }
        
    /*-------------------------------------------------------------------------        
      These override c3 Styles
      -----------------------------------------------------------------------*/  
      
        #chart2 .c3-line-econ_gdpcon {
          stroke-width: 0px;
        }
        #chart2 .c3-line-econ_gdpconpc {
          stroke-width: 0px;
        }
        #chart2 .c3-line-econ_tax {
          stroke-width: 0px;
        }
        #chart2 .c3-line-rev_gov_resrev_govtrev {
          stroke-width: 4px;
          stroke-dasharray: 5,5;
        }
        #chart2 .c3-line-rev_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_nonresrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-calc_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_rev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-calc_rent_total_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-calc_govt_take {
          stroke-width: 0px;
        } 
        /*        
        .c3 c3-axis-x path {
          stroke: none;
        }
        */
    /*-------------------------------------------------------------------------        
      Group Comparison Small Multiples
      -----------------------------------------------------------------------*/  
        /*
        #smallmult .line {
          fill: none;
          stroke-width: 1.5px;
        }
        
        #smallmult .area {
        }
        */
        
        div[id*='smallmult'] .line {
          fill: none;
          /*stroke: #666;*/
          stroke-width: 1.5px;
        }
        div[id*='smallmult'] .area {
          /*fill: #e7e7e7;*/
        }


        
    </style>

   
  </head>
  <body ng-controller="ei_countrySelect_control">

    <!-------------------------------------------------------------------------        
      Load Some Scripts We Need      
      ------------------------------------------------------------------------->

    <!-- For D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- For TopoJSON and DataMaps -->
    <script src='http://d3js.org/topojson.v1.min.js' type='text/javascript'></script>
    <script src='http://datamaps.github.io/scripts/datamaps.all.min.js' type='text/javascript'></script>
    <!-- Load c3.js -->
    <script src="js/c3.min.js"></script>
    
    <!--
    <script src="http://c3js.org/js/c3.min-631d1d50.js"></script>
    -->
    <!-- Load angular.js -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js' type='text/javascript'></script>
    <!-- ColorBrewer Colors -->
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Extractive Industries and Development</h1>
        <p>How are countries transforming natural capital into economic and human development?</p>
      </div>
    </div>

    <!-------------------------------------------------------------------------        
      Define Page Layout
      
      This section uses bootstrap to create "cells" on the page for each visual-
      ization.  
      You can add rows, and columns within rows, at the end as needed 
      to accomodate more content.
      Within a cells, there may be a DIV that is a placeholder for a 
      visualization that is later generated by JavaScript
      ------------------------------------------------------------------------->
    
    <!-- Set up our Bootstrap Layout Grid -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-left">
          Resource dependence, resource wealth, and the distribution of resource wealth vary widely across countries.
           Click on a country to see its data below. Filled countries have resource data available.
          <div class="btn-group btn-group-xs">
            <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('default')">Reset</button>
          </div>  
           <div class="row">
              <div class="col-md-12 text-left">
                 
                 <h5>Show Groups</h5>
                   By Income
                   <div class="btn-group btn-group-xs">
                      <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Low income')">Low</button>
                      <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Lower middle income')">LowMid</button>
                      <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Upper middle income')">UprMid</button>
                      <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'High income')">High</button>
                      <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('default', 'default')">Reset</button>
                  </div>  
              </div>
          <!--    
              <div class="col-md-6 text-left">
                <h5>Compare Statistics</h5>
                Fill colors are based on an average of yearly values from 2000-2011. Darker colors indicating higher values.<br>                 
                Fill countries by<br> 
                <div class="btn-group btn-group-xs btn-group-vertical">
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_govt_take')">Government Take</button>
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_rent_total_gdp')">Total Rent</button>
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_gov_resrev_gdp')">Government Resource Revenue</button>               
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('default')">Any Resource Data Available</button>
                </div>
              </div>
            -->  
            </div>  
          </div>    
        <div class="col-md-8 text-left" style="height: 350px;">
          <div id='chart1'></div>            
        </div> 
      </div>
      
      
      <div class="row">      
        <div class="col-md-4 text-left"><h3 ng-bind='current_country_name'></div>
        <div class="col-md-8 text-left">
            <h3>Compare Groups</h3><p>Choose a statistic to compare countries on the map (above) and country groups on the chart (below).</p>
            <div class="btn-group btn-group-xs">
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_govt_take')">Government Take</button>
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_rent_total_gdp')">Total Rent</button>
                      <button class="btn btn-mini mybtn" ng-click="updateCurrentStat('calc_gov_resrev_gdp')">Government Resource Revenue</button>               
          </div>
        </div>
        
        <!--
        <div class="col-md-8 text-left"><h3 ng-bind='currentStatName'></div>
        -->
      </div>      
      
      <div class="row">            
        <div class="col-md-4 text-left"><div id='chart2'></div></div> 
        <div class="col-md-8 text-left">
          <div class="row">   
            <div class="col-md-3 text-left">
              <div id="smallmult1"></div>
            </div>       
            <div class="col-md-3 text-left">
              <div id="smallmult2"></div>
            </div>       
            <div class="col-md-3 text-left">
              <div id="smallmult3"></div>
            </div>       
            <div class="col-md-3 text-left">
              <div id="smallmult4"></div>
            </div>       
            </div>    
          </div> 
        </div>
      </div>
     

    <!-- DEV TEAM NOTES
    
        Some Visualization Thoughts
        ----------------------------
    
        The cell to the left of the line chart I thought of two potential visualizations (just below country name):

        1) I think there are too many lines on middle map - maybe here could be a c3 area chart that shows
        'Composition of Govt Revenue' -- ie Govt Resource Revenue and one for Govt Non-Resource revenue.
        We could then remove Govt Non-Resource Revenue as well as 'Resource Rev as % of Govt Rev' from the middle
        chart (as now it should be obvious).  I would keep Govt Resource Rev on middle chart as I think it's
        important and worth having there as well. <br>
        For Non-Resource revenue we also have more detailed data in one of the tables on % from taxes or VAT,
        etc -- maybe eventually these could be separate sections in the area chart.          
        2) Sparklines for other macro indicators like GDP, or unemployment, or inflation.

        The cell to the right of the line chart I was thinking might be used to place this country's data in the
        context of all the other countries.  For example, an ordered bar graph of all the values of government 
        take, with only the current country selected colored in.  You could then visually see where in the order
        the country is.  These would be really small -- mainly its just where in the ordered bars the "color"
        bar is.
        We could do this for Govt Take, Govt Resource Rev, Total Rent, whatever we think is important.
        One issue is that we have data for these across mutliple years.  We could take an average or add some
        kind of selection feature which let's you select the year and the charts update for that year.
        Or, perhaps we could even use a slider bar / D3 transitions to change the data as you slide the bar
        from 2000 to 2011.  That seems like it could be useful - you could really get a sense of 
        movement over time.  But Not sure how that would actually look though.
        If we did this I think we should make center section smaller so we have 3 even sections.  

        Some Issues
        ------------

        1) The map highlights aren't quite right.  They are too thin on the edges where a country shares a border
        with a country that is not a group member.
        I think this has to do with the order in which the country paths are being 
        drawn - we want to make sure that the new group paths are drawn last.  Not sure how to access that "through"
        the datamaps interface.  Any ideas guys?

      END NOTES -->
      
    </div>

    <!-------------------------------------------------------------------------        
      End Page Layout   
      From here on it is all JavaScript.
      ------------------------------------------------------------------------->


    <!-------------------------------------------------------------------------        
      Load Some More Scripts We Need    
      Documentation says we can do this at this point to decrease 
      page loading time.
      ------------------------------------------------------------------------->
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
    <script>
    
    // -------------------------------------------------------------------------   
    // -------------------------------------------------------------------------      
    // Angular JavaScript Setup
    //
    // Note: this is not the ideal or best way to combine Angular and D3.
    // Right now all UI code is in the Angular controller.
    // Best way would be to wrap the UI code for each chart into their own
    // separate Angular Directive.  The Controller would take care of loading
    // the data and managing the events - mainly, updating the scope data
    // variables that each Directive then uses.  All the UI code would be
    // hidden behind the Directive's interface.
    // Just learning Angular, so staring with this initial implementation for 
    // now, hope to change in the future.
    // -------------------------------------------------------------------------
    // -------------------------------------------------------------------------      
    
  
    // -------------------------------------------------------------------------      
    // Create the Angular App - this is the root.
    // -------------------------------------------------------------------------   
    var eimod = angular.module('eimodule',[]);
    
    // -------------------------------------------------------------------------      
    // Create Factory using our App.
    // Factory just wraps data retrieval method in this case.
    // -------------------------------------------------------------------------   
    var eimod = angular.module('eimodule',[]);
    eimod.factory("eifactory", function($http) {
      var factory = {};    
      
      factory.getRawData = function() {
        return $http.get('eidata.json');      
      };  
      
    return factory;      
    });

    // -------------------------------------------------------------------------      
    // Create Controller using our App.
    // Controller holds all the business logic.
    // Controller has access to a $scope variable where we can store state.
    // -------------------------------------------------------------------------   
    eimod.controller("ei_countrySelect_control", function($scope, eifactory) {
      
      console.log("in controller");
      
      // -------------------------------------------------------------------------      
      // Initialize variables that will hold our data.
      // These vars sit on the $scope variable so all angular functions have
      // access to them.
      // FYI country data has been split into three variables for ease of use
      // 1) non-time-series data
      // 2) macro time-series data
      // 3) resource-related time-series data
      // -------------------------------------------------------------------------      
  
      // raw form that data is read in from file
      $scope.raw_data = [];
      //$scope.country_names = [];      
      
      // associative array (ccode is key) of non-time series country data
      $scope.country_data_json = [];
      // associative array (ccode is key) of time series macroeconomic data
      $scope.country_macro_stat_data_json = [];
      // associative array (ccode is key) of time series resource-related data
      $scope.country_resource_stat_data_json = [];      
      // associative array (ccode is key) of time series resource-related data
      // where the time series data is in an array format, not a JS object one
      // this is the format the c3 charts expect
      // same data as "country_resource_stat_data_json"
      $scope.country_resource_stat_data_arr = [];
      // name of the currently selected country
      $scope.current_country_name = "";
      // object that holds the default fill information for each country on 
      // the map 
      $scope.dataMapFillKeys = {};
      
      $scope.currentStat = "default";
      $scope.currentStatName = "";
 
      // stores our map and chart visualization variables
      $scope.chart1 = {};      
      $scope.chart2 = null;

      // array of years
      // this is necessary for the c3 charts
      var xaxis = ["x",2000, 2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012];
      
      // -------------------------------------------------------------------------      
      // This function is called when the JSON data has been loaded.
      // It does 2 things:
      // 1) Any needed data processing (before the page uses the dat).  Saves results
      //    in $scope variables declared above.
      // 2) Sets up & creates each chart, and saves the variable in $scope.
      // -------------------------------------------------------------------------            
       
      eifactory.getRawData().success(function(data) {
        
          console.log("in get data success");
  
          // save raw data
          $scope.raw_data = data;
          console.log("raw data: ");
          console.log($scope.raw_data);
          
    
          // take data out of raw data and puts into associative arrays
          // where it is easier for our charts to access          
          $scope.raw_data.forEach(function(countryObj, index) {
            $scope.country_data_json[countryObj.country.ccode] = countryObj.country;
            $scope.country_macro_stat_data_json[countryObj.country.ccode] = countryObj.macroStats;
            $scope.country_resource_stat_data_json[countryObj.country.ccode] = countryObj.resourceStats;            
          });           
          console.log("country json data: ");
          console.log($scope.country_data_json);  
          console.log("country macro stat json data: ");
          console.log($scope.country_macro_stat_data_json);  
          console.log("country resource stat json data: ");
          console.log($scope.country_resource_stat_data_json);  


          // this put the same resource data into array format
          // this is only necessary because c3 chart expects time series
          // data to come in this format.
          $scope.raw_data.forEach(function(countryObj, index) {
                       
            var statData = Object();
            $scope.country_resource_stat_data_arr[countryObj.country.ccode] = [];
            $scope.country_resource_stat_data_arr[countryObj.country.ccode].push(xaxis);
            
            for (var statname in countryObj.resourceStats) {
              //console.log(countryObj.resourceStats);
              //console.log(statname);
              var tmp=[];
              tmp.push(statname);
              statData[statname] = tmp.concat(countryObj.resourceStats[statname]);
              $scope.country_resource_stat_data_arr[countryObj.country.ccode].push(statData[statname]);            
            }

          });
          console.log("country arr data: ");
          console.log($scope.country_resource_stat_data_arr);  
 
 
          // this creates the default fill keys for the map, based
          // on whether we have any resource data
          // this object will be passed to data map          
          for (countryObjKey in $scope.country_data_json) {
            $scope.dataMapFillKeys[countryObjKey] = {};
            if ($scope.country_data_json[countryObjKey].haveResourceStats == "1") {
              //console.log("has stats");
              $scope.dataMapFillKeys[countryObjKey].fillKey = "haveResourceStats";
            }  
            else   
              $scope.dataMapFillKeys[countryObjKey].fillKey = "defaultFill";  
          }
          console.log("dataMapFillKeys:");
          console.log($scope.dataMapFillKeys);
          
          $scope.current_country_name = $scope.country_data_json[$scope.current_country_id]["name"];

      // -------------------------------------------------------------------------      
      // Create the c3 line chart for resource data
      // -------------------------------------------------------------------------      

          $scope.chart2 = c3.generate({
              
                  bindto: '#chart2',              
                  size: {
                    height: 300,
                  },   
                  data: {
                    x: 'x',
                    columns: $scope.country_resource_stat_data_arr[$scope.current_country_id],
                    axes: { rev_gov_resrev_govtrev : 'y',calc_gov_resrev_gdp : 'y',rev2_gov_nonresrev_gdp : 'y',rev2_gov_rev_gdp : 'y', calc_rent_total_gdp : 'y', calc_govt_take: 'y2' },
                    type: 'line',
                    types: {
                        calc_govt_take: 'area',
                    },
                    names: varnames, 
                    colors: varcolors, 
                    labels:false,
                  }, // data  
                  axis: {
                    y: {
                      max: 100,
                      min: 0,
                      padding: {top:0, bottom:5},
                      label: {
                        text: 'Percent',
                        position: 'outer-middle'
                      },                      
                    },
                    y2: { max: 1.4, 
                          min: 0, 
                          padding: {top:0, bottom:.2},
                    },
                    x: { min: 2000, max:2011,
                    }
                
                  }, // axis
              
                 legend: {
                    position: 'bottom'
                  },
                  
          });// c3.generate
          
      // -------------------------------------------------------------------------      
      // Create the data map
      // -------------------------------------------------------------------------      
          
          $scope.chart1 = new Datamap({
              element: document.getElementById('chart1'),
              scope: "world",
              fills: {
                defaultFill: "#eee", //#eee
                haveResourceStats: "#bebebe", //#faa632 //a65628 ffbb78 a65628 //#a6a6a6 dataAvailable bebebe
              },
              data: $scope.dataMapFillKeys,              
              "done": function(datamap) {
                  console.log("in done");
                  //$scope.datamap = datamap;
                  console.log($scope.datamap);
                  datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography, data) {
                    //console.log("in on click datamap");
                    $scope.current_country_id = geography.id;
                    $scope.$apply();
                  });
              }, // done
              geographyConfig: {
                highlightOnHover: true,
                highlightFillColor: '#ff7f0e',
                //highlightBorderColor: '#ff7f0e',
                //highlightBorderWidth: 5,
              }
          }); // chart1 
          
          
      // -------------------------------------------------------------------------      
      // Update map and groups at same time
      // For map, should really be doing this intially, not updating it...
      // have to change later.
      // -------------------------------------------------------------------------      
          
        console.log($scope.currentStat);
        //$scope.updateGroupStat($scope.currentStat);
        $scope.updateCurrentStat($scope.currentStat);
  
          
      }).error(function(err){
          throw(err);                     
      }); // getData


      // -------------------------------------------------------------------------      
      // "Listener" function that is called whenever the current_country_id is
      // changed.  When selection is made in datamap, datamap changes this variable
      // This updates the line chart
      // Have to check for nulls here becuase it is called right at the beginning,
      // before data is loaded
      // -------------------------------------------------------------------------                

     $scope.$watch('current_country_id', function(newValue, oldValue) {
        console.log('watch current_country_id:');
        console.log(newValue);
        //console.log($scope.country_data_json);
        //console.log($scope.country_data_json[newValue]);
        
        if ($scope.country_data_json[newValue] != null) {
          console.log($scope.country_data_json[newValue]);
          $scope.current_country_name = $scope.country_data_json[newValue]["name"];
          
        }    
        if ($scope.chart2 != null) $scope.chart2.load({ columns: $scope.country_resource_stat_data_arr[newValue] });
         
      }, true); 

      // -------------------------------------------------------------------------      
      // These are Event functions that are called when the user clicks a button 
      // on the datamap to
      // highlight or fill by a different variable
      // -------------------------------------------------------------------------                

      $scope.updateGroupStat = function(cstat) {
        console.log("insmallmultiples for: " + cstat);
          $scope.setUpSmallMultiples("#smallmult1", cstat, "class_income", ["High income", "Upper middle income","Lower middle income", "Low income"]);
          $scope.setUpSmallMultiples("#smallmult2", cstat, "class_reg", ["Africa", "Asia","Europe","Latin America and the Caribbean","North America","Oceania"]);
          //$scope.setUpSmallMultiples("#smallmult3", cstat, "class_opec", ["0", "1"]);
          $scope.setUpSmallMultiples("#smallmult3", cstat, "prim_prod", ["prod_fuels", "prod_indus","prod_ironferr","prod_nfm"]);
          $scope.setUpSmallMultiples("#smallmult4", cstat, "prim_rent", ["rent_oil", "rent_gas","rent_min"]);        
      }

      $scope.updateOutlinesByGroup = function(group, value) {
        console.log("finding countries in group:" + group + " with value: " + value);
        
        var svg = $scope.chart1.svg;
        
        
        for (countryObjKey in $scope.country_data_json) {
          svg
              .selectAll('.' + countryObjKey)
              .classed({'plainpaths':true,'grouppaths':false });  
        }
        // if "default" then this block never finds a match
        // lazy...
        for (countryObjKey in $scope.country_data_json) {
          if ($scope.country_data_json[countryObjKey][group] == value) {
            svg
              .selectAll('.' + countryObjKey)
              .classed({'plainpaths':false,'grouppaths':true });
          } //end if
        }// end for
      } // end ftn   
              
              
      $scope.updateCurrentStat = function(statName) {
        console.log("updating choro");
        
        if(statName == "default") {
          $scope.chart1.updateChoropleth($scope.dataMapFillKeys);
          $scope.updateGroupStat(statName);
        }           
          else {
          $scope.currentStat = statName;
          $scope.currentStatName = varnames[statName];
          $scope.updateGroupStat(statName);
            
          var countryVals = {};
          countryVals = getTimeSeriesAverage($scope.currentStat);
          
          var vals = [];
          for(key in countryVals) {
            vals.push(countryVals[key]);
          }            
          
          var baseColor = d3.rgb(varcolors[statName]);
          var darkest = baseColor.darker().darker().darker();
          var lightest = baseColor.brighter().brighter().brighter();
          console.log(darkest.toString());
          console.log(lightest.toString());
          
          if (statName == "calc_govt_take") {
            lightest = "#dcccc9";
            darkest = "#54332d";
          }
          if (statName == "calc_gov_resrev_gdp") {
            lightest = "#bbd6e8"; //bbd6e8 8fbbd9
            darkest = "#12476c";
          }
          if (statName == "calc_rent_total_gdp") {
            lightest = "#f2bebe"; //bbd6e8 8fbbd9
            darkest = "#951b1c";
          }
          
          
                              
          var color = d3.scale.linear()
                       .domain([d3.min(vals),d3.max(vals)])
                       .range([lightest.toString(), darkest.toString()]); //faa632 #ffbb78 b28254
         
          var chloroVals = {};
          for(key in countryVals) {
            //console.log("Key" + key + " is = " + countryVals[key]);
            //console.log("color" + ": " + color(countryVals[key]));
            
            if (countryVals[key] == null) {
                chloroVals[key] = "#eee";
            }
            else
                chloroVals[key] = color(countryVals[key]);
          }
          $scope.chart1.updateChoropleth(chloroVals);
        }
        
      };

      $scope.setUpSmallMultiples = function(elem,cstat, cfactor, clevels) { 
    
        // I need each level to have the format
        // key: factorLevel name
        // values: Array with sub-objects that have properties date and value.        
        // Small Multiples Code

        // step 0a = Determine which factor to use - primary production?  region?
        // step 0b = Determine which stat to use - govt take?        
        // step 1 = get countries for each "level" of that factor
        // step 2 = using those countries, get an average value of the stat for each year for factor levels 
        // step 3 = put data into proper format
        
        //var cstat = "calc_govt_take";
        //var cstat = "calc_rent_total_gdp"; //
        //var cstat = "calc_gov_resrev_gdp"; //calc_gov_resrev_gdp
        //var cfactor = "class_income";
        //var clevels = ["High income", "Upper middle income","Lower middle income", "Low income"];        
        //var cfactor = "class_opec";
        //var clevels = ["0", "1"];
        //var cfactor = "class_reg";
        //var clevels = ["Africa", "Asia","Europe","Latin America and the Caribbean","North America","Oceania"];
        //var cfactor = "prim_prod";
        //var clevels = ["prod_fuels", "prod_indus","prod_ironferr","prod_nfm"];
        
        if (cstat == "default") {
          d3.select(elem).selectAll("*").remove();
          return;
        }
        
        
        var countriesInLevels = [];        
        clevels.forEach(function(level, index) {
            //console.log(level);
            countriesInLevels.push(getCountriesInGroup($scope.country_data_json, cfactor, level));
        });
        console.log("countriesInLevels");
        console.log(countriesInLevels);
        
        var countryDataForLevels = [];
        var statDataInLevels = [];              
        countriesInLevels.forEach(function(levelsArray, index) {
          //console.log("levels");
          //console.log(levelsArray);
          var countryData = [];
          levelsArray.forEach(function(country, index) {
              countryData.push($scope.country_resource_stat_data_json[country][cstat]);
          });
          statDataInLevels.push(countryData);          
        });        
        console.log("statDataInLevels");
        console.log(statDataInLevels);
        
        var yearlyAvgForLevels = [];        
        var yearlyAvgStatByLevel = [];  
        statDataInLevels.forEach(function(levelsArray, index) {
          var years = d3.transpose(levelsArray);
          var yearData = [];
          var yearlyn = [];
          var yearObj = {};
          yearObj.values = [];        
          years.forEach(function(year, index) {
            //console.log("clean years");
            //console.log(year.filter(function(elem) { return elem != null } ));
            yearlyn.push((year.filter(function(elem) { return elem != null } )).length);
            yearData.push(d3.mean(year));
          });
          yearObj.avg_n = d3.mean(yearlyn);
          yearObj.values = yearData; 
          yearlyAvgStatByLevel.push(yearObj);
          yearlyAvgForLevels.push(yearData);
        });
        console.log("yearlyAvgForLevels");
        console.log(yearlyAvgForLevels);
        console.log("yearlyAvgStatByLevel");
        console.log(yearlyAvgStatByLevel);

        // parse function only takes a string
        var time = ["2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011"];
        var parseDate = d3.time.format("%Y").parse;
       
        graphobjs = [];
        yearlyAvgStatByLevel.forEach(function(level, lindex) {
          var l = {};
          l.key = clevels[lindex];
          l.avg_n = level.avg_n; 
          l.values = [];
          time.forEach(function(year, yindex) {
            var y = {};
            y.time = parseDate(time[yindex]);
            y.value = level.values[yindex];
            l.values.push(y);
          })
          graphobjs.push(l);
        });
        console.log("graphobjs");
        console.log(graphobjs);
        
        //var w = d3.select("#smallmult").width;
        //var h = d3.select("#smallmult").height;
        //console.log("h " + h + "w " + w);     
             
        var margin = {top: 10, right: 10, bottom: 15, left: 10},
            width = 180 - margin.left - margin.right,
            height = 60 - margin.top - margin.bottom;
        
        //console.log("parseDate");
        //console.log(parseDate("2000"));
        //console.log(parseDate(2000));
        
        
        var x = d3.time.scale()
            .range([0, width]);
        
        var y = d3.scale.linear()
            .range([height, 0]);
        
        var area = d3.svg.area()
            .defined(function(d) { return d.value != null; })
            .x(function(d) { return x(d.time); })
            .y0(height)
            .y1(function(d) { return y(d.value); });
        
        var line = d3.svg.line()
            .defined(function(d) { return d.value != null; })
            .x(function(d) { return x(d.time); })
            .y(function(d) { return y(d.value); });
 /*       
        d3.csv("stock.csv", type, function(error, data) {
        
          console.log(data);
        
          // Nest data by symbol.
          var symbols = d3.nest()
              .key(function(d) { return d.symbol; })
              .entries(data);
          
          console.log(symbols);
          // Compute the maximum price per symbol, needed for the y-domain.
          
  */      maxvals = [];  
          graphobjs.forEach(function(level) {
            //level.maxval = d3.max(level.values, function(d) { return d.value; });
            maxvals.push(d3.max(level.values, function(d) { return d.value; }));
          });
          
          var max = d3.max(maxvals);
          graphobjs.forEach(function(level, index) {
            var cleanArray = level.values.filter( function(elem) { return elem.value != null } );
            level.numvals = cleanArray.length;
            level.hasvals = level.numvals != 0;
            level.firstVal = (level.hasvals ? cleanArray[0].value  :  "");
            level.firstX = (level.hasvals ? cleanArray[0].time  :  "");
            level.lastVal = (level.hasvals ? cleanArray[cleanArray.length - 1].value : "");            
            level.lastX = (level.hasvals ? cleanArray[cleanArray.length - 1].time : "");
            // from before            
            level.maxval = max;
            level.levelmax = maxvals[index];
            //maxvals.push(d3.max(level.values, function(d) { return d.value; });
          });
          //cleanArray = arr.filter( function(elem) { return elem !== null } )
          
          console.log(graphobjs);
          
          
          // Compute the minimum and maximum date across symbols.
          // We assume values are sorted by date.
          x.domain([
            d3.min(graphobjs, function(s) { return s.values[0].time; }),
            d3.max(graphobjs, function(s) { return s.values[s.values.length - 1].time; })
          ]);
        
          d3.select(elem).selectAll("*").remove();
        
          //console.log(x.domain());
          // Add an SVG element for each symbol, with the desired dimensions and margin.
          var svg = d3.select(elem)
              .selectAll("svg")
              .data(graphobjs)
            .enter().append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
          // Add the area path elements. Note: the y-domain is set per element.
          svg.append("path")
              .attr("class", "area")
              .attr("d", function(d) { y.domain([0, d.maxval]); return area(d.values); })
              .attr("fill", varcolors[cstat])
              .attr("fill-opacity", .3);
              
        
          // Add the line path elements. Note: the y-domain is set per element.
          svg.append("path")
              .attr("class", "line")
              .attr("d", function(d) { y.domain([0, d.maxval]); return line(d.values); })
              .attr("stroke", varcolors[cstat]);
        
          // Add a small label for the symbol name.
          svg.append("text")
              .attr("x", width - 3)
              .attr("y", height + 10)
              .attr("font-family", "sans-serif")
              .attr("font-size", "10px")
              .style("text-anchor", "end")
              .text(function(d) { return d.key + "(n="+ d3.round(d.avg_n) + ")";  });          
          // values
          svg.append("text")
              .attr("x", function(d) { return x(d.lastX) - 3 })
              .attr("y", function(d) { return (d.lastVal > .3*d.maxval) ? y(d.lastVal) - 3 : y(.3*d.maxval) - 3; })
              .attr("font-family", "sans-serif")
              .attr("font-size", "9px")
              .style("text-anchor", "end")
              .attr("font-color", varcolors[cstat])
              .text(function(d) { return d3.round(d.lastVal,2); });  // use the filter !=null here
          svg.append("text")
              .attr("x", function(d) { return x(d.firstX) + margin.left })
              .attr("y", function(d) { return (d.firstVal > .3*d.maxval) ? y(d.firstVal) - 3 : y(.3*d.maxval) - 3; }) // FIX THIS
              .attr("font-family", "sans-serif")
              .attr("font-size", "9px")
              .style("text-anchor", "middle")
              .attr("font-color", varcolors[cstat])
              .text(function(d) { return d3.round(d.firstVal,2); });
          // years
          svg.append("text")
              .attr("x", function(d) { return x(d.lastX) - 3 })
              .attr("y", function(d) { return height-3; })
              .attr("font-family", "sans-serif")
              .attr("font-size", "9px")
              .style("text-anchor", "end")
              .attr("font-color", varcolors[cstat])
              .text(function(d) { return (d.hasvals) ? d3.time.format("%Y")(d.lastX) : ""; });  // use the filter !=null here
          svg.append("text")
              .attr("x", function(d) { return x(d.firstX) + margin.left })
              .attr("y", function(d) { return height - 3; })
              .attr("font-family", "sans-serif")
              .attr("font-size", "9px")
              .style("text-anchor", "middle")
              .attr("font-color", varcolors[cstat])
              .text(function(d) { return (d.hasvals) ? d3.time.format("%Y")(d.firstX) : ""; });
 
              
      }
        /*
        function type(d) {
          d.price = +d.price;
          d.date = parseDate(d.date);
          return d;
        }
        */
      
 
      

      // -------------------------------------------------------------------------      
      // Helper functions to manage user clicks.
      // -------------------------------------------------------------------------                

      function getTimeSeriesAverageByCountry(ccode, statname) {
        //console.log("getting avg" + statname);
        //console.log($scope.country_macro_stat_data_json[ccode]);
        if ($scope.country_macro_stat_data_json[ccode][statname]) {
          return d3.mean($scope.country_macro_stat_data_json[ccode][statname]);    
        }  
        else if ($scope.country_resource_stat_data_json[ccode][statname]) {
          return d3.mean($scope.country_resource_stat_data_json[ccode][statname]);                    
        }
        else 
          return null;            
      };              
      
      function getTimeSeriesAverage(statName) {
        var statData = {};
        for (countryObjKey in $scope.country_data_json) {
          statData[countryObjKey] = getTimeSeriesAverageByCountry(countryObjKey, statName);    
        }
        console.log(statData);
        return statData;
      };
              
      function getCountriesInGroup(data, group, value) {
        console.log("Getting countries in " + group + " that are " + value);
        var out = [];
        //console.log(d3.keys(data));
        var keys = d3.keys(data);
        
        keys.forEach(function(ccode, index) {
          //console.log(ccode);
          //console.log(data[ccode]);
          //console.log(data[ccode][group]);
          if(data[ccode][group] == value) out.push(ccode);
        });
        //console.log(out);
        return out;
      }
      
    }); // controller
    
    </script>
    
    <script>
    
      // ----------------------------------------------------------------------      
      // I would like to load this separately from a JSON file, but don't know
      // how to do two seperate JSON files.  For now I will put these
      // constants here.
      // ----------------------------------------------------------------------                
    
      console.log("loading lookup constants for variables");
      var varlookupvals = 
        [ {
           "variable": "calc_gov_resrev_gdp",
          "values": {
           "name": "Govt Resource Revenue",
          "source": "Calculated: avg of REV$rev_gov_resrev_gdp and REV2$rev2_gov_resrev_gdp",
          "color": "1f77b4" 
          } 
          },{
           "variable": "calc_govt_take",
          "values": {
           "name": "Govt Take",
          "source": "Calculated: calc_gov_resrev_gdp / calc_rent_total_gdp",
          "color": "8c564b", //#a6a6a6 ff7878 8c564b
          } 
          },{
           "variable": "econ_gdpcon",
          "values": {
           "name": "GDP (constant $)",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "econ_gdpconpc",
          "values": {
           "name": "GDP per capita (constant $)",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "econ_govexp",
          "values": {
           "name": "Govt Expenditure",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "econ_govrev",
          "values": {
           "name": "Govt Revenue",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "econ_invtotal",
          "values": {
           "name": "Value of Investments",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "econ_tax",
          "values": {
           "name": "Govt Tax Revenue",
          "source": "Economic_Indicators ",
          "color": "" 
          } 
          },{
           "variable": "calc_rent_total_gdp",
          "values": {
           "name": "Total Rents",
          "source": "Calculated from RENT: sum of RENT$rent_min, RENT$rent_oil, RENT$rent_gas",
          "color": "d62728" 
          } 
          },{
           "variable": "rev_gov_resrev_gdp",
          "values": {
           "name": "Govt Resource Revenue",
          "source": "Resource_Revenue",
          "color": "" 
          } 
          },{
           "variable": "rev_gov_resrev_govtrev",
          "values": {
           "name": "Govt Resource Revenue as % Govt Revenue",
          "source": "Resource_Revenue",
          "color": "2ca02c" 
          } 
          },{
           "variable": "rev2_gov_nonresrev_gdp",
          "values": {
           "name": "Govt Non-Resource Revenue",
          "source": "Resource_Revenue2",
          "color": "9467bd" //9467bd 1f77b4
          } 
          },{
           "variable": "rev2_gov_resrev_gdp",
          "values": {
           "name": "Govt Resource Revenue",
          "source": "Resource_Revenue2",
          "color": "" 
          } 
          },{
           "variable": "rev2_gov_rev_gdp",
          "values": {
           "name": "Govt Revenue",
          "source": "Resource_Revenue2",
          "color": "bcbd22" //8c564b bcbd22
          } 
        } ];

        var varnames = {};
        var varcolors = {};

        //var c = d3.scale.category10();
        //var dataAvailable = c(0);
        var dataAvailable = "#ffbb78";
        varlookupvals.forEach(function(item, index) {
          //console.log(item);
          varnames[item.variable] = item.values.name;
          varcolors[item.variable] = "#".concat(item.values.color);
          //varcolors[item.variable] = c(item.variable);
        });
        //console.log(d3.keys(varnames));
        console.log(varcolors);
        
                        
        //console.log(c("calc_total_rent_gdp"));
        //console.log(c("calc_govt_take"));
        
      
    </script>

    <script>
    
 
        /*
        var margin = {top: 8, right: 10, bottom: 2, left: 10},
            width = 960 - margin.left - margin.right,
            height = 69 - margin.top - margin.bottom;
        
        var parseDate = d3.time.format(%Y").parse;
        
        var x = d3.time.scale()
            .range([0, width]);
        
        var y = d3.scale.linear()
            .range([height, 0]);
        
        var area = d3.svg.area()
            .x(function(d) { return x(d.date); })
            .y0(height)
            .y1(function(d) { return y(d.price); });
        
        var line = d3.svg.line()
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.price); });
        
        d3.csv("stock.csv", type, function(error, data) {
        
          // Nest data by symbol.
          var symbols = d3.nest()
              .key(function(d) { return d.symbol; })
              .entries(data);
          
          console.log(symbols);
          // Compute the maximum price per symbol, needed for the y-domain.
          symbols.forEach(function(s) {
            s.maxPrice = d3.max(s.values, function(d) { return d.price; });
          });
          console.log(symbols);
          
          // Compute the minimum and maximum date across symbols.
          // We assume values are sorted by date.
          x.domain([
            d3.min(symbols, function(s) { return s.values[0].date; }),
            d3.max(symbols, function(s) { return s.values[s.values.length - 1].date; })
          ]);
        
          // Add an SVG element for each symbol, with the desired dimensions and margin.
          var svg = d3.select("body").selectAll("svg")
              .data(symbols)
            .enter().append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        
          // Add the area path elements. Note: the y-domain is set per element.
          svg.append("path")
              .attr("class", "area")
              .attr("d", function(d) { y.domain([0, d.maxPrice]); return area(d.values); });
        
          // Add the line path elements. Note: the y-domain is set per element.
          svg.append("path")
              .attr("class", "line")
              .attr("d", function(d) { y.domain([0, d.maxPrice]); return line(d.values); });
        
          // Add a small label for the symbol name.
          svg.append("text")
              .attr("x", width - 6)
              .attr("y", height - 6)
              .style("text-anchor", "end")
              .text(function(d) { return d.key; });
        });
        
        function type(d) {
          d.price = +d.price;
          d.date = parseDate(d.date);
          return d;
        }
        */
        
    
    </script>

  </body>
</html>