<html lang="en" ng-app="eimodule" ng-init="current_country_id='AGO'">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UNDP Extractive Industries Data Dive</title>

    <!-- Load c3.css Style -->
    <link href="css/c3.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
    
    /*-------------------------------------------------------------------------        
      These override Bootstrap Styles
      -----------------------------------------------------------------------*/  

        .mybtn {
          margin-bottom: 5;
          margin-left: 5;
          margin-right: 5;
          background-color: #eee !important;
          border: 2px !important;
          border-color: #eee !important;
          border-style: solid !important;
        }
        h2 {
           margin-top:5px; margin-bottom:5px;
        }
        h3 {
           margin-top:5px; margin-bottom:5px;
        }
        h5 {
           margin-top:5px; margin-bottom:2px;
        }
        .jumbotron {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 10;
          
        }
        h1 {
          font-size: 50px !important;
        }
        
    /*-------------------------------------------------------------------------        
      These are used for highlighting countries.
      -----------------------------------------------------------------------*/  

        .grouppaths {
          stroke: #bb7c25 !important;
          stroke-width: 1.8 !important;
          stroke-opacity: 1 !important;  
        }

        .plainpaths {
          stroke: #ffffff !important;
          stroke-width: 1.4 !important;
          stroke-opacity: .1 !important;
        }
        
    /*-------------------------------------------------------------------------        
      These override c3 Styles
      -----------------------------------------------------------------------*/  
      
        #chart2 .c3-line-econ_gdpcon {
          stroke-width: 0px;
        }
        #chart2 .c3-line-econ_gdpconpc {
          stroke-width: 0px;
        }
        #chart2 .c3-line-econ_tax {
          stroke-width: 0px;
        }
        #chart2 .c3-line-rev_gov_resrev_govtrev {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_nonresrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-calc_gov_resrev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rev2_gov_rev_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-rent_total_gdp {
          stroke-width: 4px;
        }
        #chart2 .c3-line-calc_govt_take {
          stroke-width: 0px;
        }
    </style>

   
  </head>
  <body ng-controller="ei_countrySelect_control">

    <!-------------------------------------------------------------------------        
      Load Some Scripts We Need      
      ------------------------------------------------------------------------->

    <!-- For D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- For TopoJSON and DataMaps -->
    <script src='http://d3js.org/topojson.v1.min.js' type='text/javascript'></script>
    <script src='http://datamaps.github.io/scripts/datamaps.all.min.js' type='text/javascript'></script>
    <!-- Load c3.js -->
    <script src="js/c3.min.js"></script>
    
    <!--
    <script src="http://c3js.org/js/c3.min-631d1d50.js"></script>
    -->
    <!-- Load angular.js -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js' type='text/javascript'></script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Extractive Industries and Development</h1>
        <p>How are countries transforming natural capital into economic and human development?</p>
      </div>
    </div>

    <!-------------------------------------------------------------------------        
      Define Page Layout
      
      This section uses bootstrap to create "cells" on the page for each visual-
      ization.  
      You can add rows, and columns within rows, at the end as needed 
      to accomodate more content.
      Within a cells, there may be a DIV that is a placeholder for a 
      visualization that is later generated by JavaScript
      ------------------------------------------------------------------------->
    
    <!-- Set up our Bootstrap Layout Grid -->
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left">
          <h2>Countries</h2>Resource dependence, resource wealth, and the distribution of resource wealth vary widely across countries.
           Click on a country to see its data below. 
           <h5>Explore Groups</h5>
           by Income
             <div class="btn-group btn-group-xs">
                <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Low income')">Low</button>
                <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Lower middle income')">LowMid</button>
                <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'Upper middle income')">UprMid</button>
                <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('class_income', 'High income')">High</button>
                <button class="btn btn-mini mybtn" ng-click="updateOutlinesByGroup('default', 'default')">Reset</button>
            </div>  
       </div>
        <div class="col-md-8 text-left" style="height: 360px;">
          <div id='chart1'></div>            
        </div> 
        <div class="col-md-2 text-left">
          <h5>Putting Comparisons <br>on the Map</h5>
          Filled countries have resource data available.
          Fill countries by<br> 
          <div class="btn-group btn-group-xs btn-group-vertical">
                <button class="btn btn-mini mybtn" ng-click="updateChloroFillsForStat('calc_govt_take')">Government Take</button>
                <button class="btn btn-mini mybtn" ng-click="updateChloroFillsForStat('rent_total_gdp')">Total Rent</button>
                <button class="btn btn-mini mybtn" ng-click="updateChloroFillsForStat('calc_gov_resrev_gdp')">Government Resource Revenue</button>               
          </div>
          Fill colors are based on an average of yearly values.<br> 
          <div class="btn-group btn-group-xs btn-group-vertical">
                <button class="btn btn-mini mybtn" ng-click="updateChloroFillsForStat('default')">Reset</button>
          </div>
        </div>        
      </div>        
      <div class="row">      
        <div class="col-md-2 text-left"><h3 ng-bind='current_country_name'>
        </div>       
        <div class="col-md-8 text-left"><div id='chart2'></div></div> 
        <div class="col-md-2 text-left">
          Hi There
        </div>       
      </div>

    <!-- DEV TEAM NOTES
    
        Some Visualization Thoughts
        ----------------------------
    
        The cell to the left of the line chart I thought of two potential visualizations (just below country name):

        1) I think there are too many lines on middle map - maybe here could be a c3 area chart that shows
        'Composition of Govt Revenue' -- ie Govt Resource Revenue and one for Govt Non-Resource revenue.
        We could then remove Govt Non-Resource Revenue as well as 'Resource Rev as % of Govt Rev' from the middle
        chart (as now it should be obvious).  I would keep Govt Resource Rev on middle chart as I think it's
        important and worth having there as well. <br>
        For Non-Resource revenue we also have more detailed data in one of the tables on % from taxes or VAT,
        etc -- maybe eventually these could be separate sections in the area chart.          
        2) Sparklines for other macro indicators like GDP, or unemployment, or inflation.

        The cell to the right of the line chart I was thinking might be used to place this country's data in the
        context of all the other countries.  For example, an ordered bar graph of all the values of government 
        take, with only the current country selected colored in.  You could then visually see where in the order
        the country is.  These would be really small -- mainly its just where in the ordered bars the "color"
        bar is.
        We could do this for Govt Take, Govt Resource Rev, Total Rent, whatever we think is important.
        One issue is that we have data for these across mutliple years.  We could take an average or add some
        kind of selection feature which let's you select the year and the charts update for that year.
        Or, perhaps we could even use a slider bar / D3 transitions to change the data as you slide the bar
        from 2000 to 2011.  That seems like it could be useful - you could really get a sense of 
        movement over time.  But Not sure how that would actually look though.
        If we did this I think we should make center section smaller so we have 3 even sections.  

        Some Issues
        ------------

        1) The map highlights aren't quite right.  They are too thin on the edges where a country shares a border
        with a country that is not a group member.
        I think this has to do with the order in which the country paths are being 
        drawn - we want to make sure that the new group paths are drawn last.  Not sure how to access that "through"
        the datamaps interface.  Any ideas guys?

      END NOTES -->
      
    </div>

    <!-------------------------------------------------------------------------        
      End Page Layout   
      From here on it is all JavaScript.
      ------------------------------------------------------------------------->


    <!-------------------------------------------------------------------------        
      Load Some More Scripts We Need    
      Documentation says we can do this at this point to decrease 
      page loading time.
      ------------------------------------------------------------------------->
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
    <script>
    
    // -------------------------------------------------------------------------   
    // -------------------------------------------------------------------------      
    // Angular JavaScript Setup
    //
    // Note: this is not the ideal or best way to combine Angular and D3.
    // Right now all UI code is in the Angular controller.
    // Best way would be to wrap the UI code for each chart into their own
    // separate Angular Directive.  The Controller would take care of loading
    // the data and managing the events - mainly, updating the scope data
    // variables that each Directive then uses.  All the UI code would be
    // hidden behind the Directive's interface.
    // Just learning Angular, so staring with this initial implementation for 
    // now, hope to change in the future.
    // -------------------------------------------------------------------------
    // -------------------------------------------------------------------------      
    
  
    // -------------------------------------------------------------------------      
    // Create the Angular App - this is the root.
    // -------------------------------------------------------------------------   
    var eimod = angular.module('eimodule',[]);
    
    // -------------------------------------------------------------------------      
    // Create Factory using our App.
    // Factory just wraps data retrieval method in this case.
    // -------------------------------------------------------------------------   
    var eimod = angular.module('eimodule',[]);
    eimod.factory("eifactory", function($http) {
      var factory = {};    
      
      factory.getRawData = function() {
        return $http.get('eidata.json');      
      };  
      
    return factory;      
    });

    // -------------------------------------------------------------------------      
    // Create Controller using our App.
    // Controller holds all the business logic.
    // Controller has access to a $scope variable where we can store state.
    // -------------------------------------------------------------------------   
    eimod.controller("ei_countrySelect_control", function($scope, eifactory) {
      
      console.log("in controller");
      
      // -------------------------------------------------------------------------      
      // Initialize variables that will hold our data.
      // These vars sit on the $scope variable so all angular functions have
      // access to them.
      // FYI country data has been split into three variables for ease of use
      // 1) non-time-series data
      // 2) macro time-series data
      // 3) resource-related time-series data
      // -------------------------------------------------------------------------      
  
      // raw form that data is read in from file
      $scope.raw_data = [];
      //$scope.country_names = [];      
      
      // associative array (ccode is key) of non-time series country data
      $scope.country_data_json = [];
      // associative array (ccode is key) of time series macroeconomic data
      $scope.country_macro_stat_data_json = [];
      // associative array (ccode is key) of time series resource-related data
      $scope.country_resource_stat_data_json = [];      
      // associative array (ccode is key) of time series resource-related data
      // where the time series data is in an array format, not a JS object one
      // this is the format the c3 charts expect
      // same data as "country_resource_stat_data_json"
      $scope.country_resource_stat_data_arr = [];
      // name of the currently selected country
      $scope.current_country_name = "";
      // object that holds the default fill information for each country on 
      // the map 
      $scope.dataMapFillKeys = {};
 
      // stores our map and chart visualization variables
      $scope.chart1 = {};      
      $scope.chart2 = null;

      // array of years
      // this is necessary for the c3 charts
      var xaxis = ["x",2000, 2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011, 2012];
      
      // -------------------------------------------------------------------------      
      // This function is called when the JSON data has been loaded.
      // It does 2 things:
      // 1) Any needed data processing (before the page uses the dat).  Saves results
      //    in $scope variables declared above.
      // 2) Sets up & creates each chart, and saves the variable in $scope.
      // -------------------------------------------------------------------------            
       
      eifactory.getRawData().success(function(data) {
        
          console.log("in get data success");
  
          // save raw data
          $scope.raw_data = data;
          console.log("raw data: ");
          console.log($scope.raw_data);
          
    
          // take data out of raw data and puts into associative arrays
          // where it is easier for our charts to access          
          $scope.raw_data.forEach(function(countryObj, index) {
            $scope.country_data_json[countryObj.country.ccode] = countryObj.country;
            $scope.country_macro_stat_data_json[countryObj.country.ccode] = countryObj.macroStats;
            $scope.country_resource_stat_data_json[countryObj.country.ccode] = countryObj.resourceStats;            
          });           
          console.log("country json data: ");
          console.log($scope.country_data_json);  
          console.log("country macro stat json data: ");
          console.log($scope.country_macro_stat_data_json);  
          console.log("country resource stat json data: ");
          console.log($scope.country_resource_stat_data_json);  


          // this put the same resource data into array format
          // this is only necessary because c3 chart expects time series
          // data to come in this format.
          $scope.raw_data.forEach(function(countryObj, index) {
                       
            var statData = Object();
            $scope.country_resource_stat_data_arr[countryObj.country.ccode] = [];
            $scope.country_resource_stat_data_arr[countryObj.country.ccode].push(xaxis);
            
            for (var statname in countryObj.resourceStats) {
              //console.log(countryObj.resourceStats);
              //console.log(statname);
              var tmp=[];
              tmp.push(statname);
              statData[statname] = tmp.concat(countryObj.resourceStats[statname]);
              $scope.country_resource_stat_data_arr[countryObj.country.ccode].push(statData[statname]);            
            }

          });
          console.log("country arr data: ");
          console.log($scope.country_resource_stat_data_arr);  
 
 
          // this creates the default fill keys for the map, based
          // on whether we have any resource data
          // this object will be passed to data map          
          for (countryObjKey in $scope.country_data_json) {
            $scope.dataMapFillKeys[countryObjKey] = {};
            if ($scope.country_data_json[countryObjKey].haveResourceStats == "1") {
              //console.log("has stats");
              $scope.dataMapFillKeys[countryObjKey].fillKey = "haveResourceStats";
            }  
            else   
              $scope.dataMapFillKeys[countryObjKey].fillKey = "defaultFill";  
          }
          console.log("dataMapFillKeys:");
          console.log($scope.dataMapFillKeys);
          
          $scope.current_country_name = $scope.country_data_json[$scope.current_country_id]["name"];

      // -------------------------------------------------------------------------      
      // Create the c3 line chart for resource data
      // -------------------------------------------------------------------------      

          $scope.chart2 = c3.generate({
              
                  bindto: '#chart2',              
                  size: {
                    height: 300,
                  },   
                  data: {
                    x: 'x',
                    columns: $scope.country_resource_stat_data_arr[$scope.current_country_id],
                    axes: { rev_gov_resrev_govtrev : 'y',calc_gov_resrev_gdp : 'y',rev2_gov_nonresrev_gdp : 'y',rev2_gov_rev_gdp : 'y', rent_total_gdp : 'y', calc_govt_take: 'y2' },
                    type: 'line',
                    types: {
                        calc_govt_take: 'area',
                    },
                    names: {
                      econ_gdpcon: 'GDP (constant $)',
                      econ_gdpconpc: 'GDP per capita (constant $)',
                      econ_tax: 'Total Govt Tax Rev (% GDP)',
                      econ_govrev: 'Total Govt Rev (% GDP) [econ]',
                      econ_govexp: 'Total Govt Expenditure (% GDP)',
                      econ_invtotal: 'Total Investments (% GDP)',
                      rev_gov_resrev_gdp: 'Govt Resource Rev. (% GDP)',
                      rev2_gov_resrev_gdp: 'Govt Resource Rev. (% GDP)',
                      rev_gov_resrev_govtrev: 'Govt Resource Revenue (% Govt Rev.)',
                      calc_gov_resrev_gdp: 'Govt Resource Revenue (% GDP) ',
                      rev2_gov_nonresrev_gdp: 'Govt Non-Resource Revenue (% GDP)', 
                      rev2_gov_rev_gdp: 'Govt Revenue (% GDP)',
                      rent_total_gdp: 'Total Rent (% GDP)',
                      calc_govt_take: 'Government Take Ratio'
                    },
                    colors: {
                      rev_gov_resrev_govtrev: '#5ab75c',
                      rev2_gov_nonresrev_gdp: '#4aafcd', 
                      calc_gov_resrev_gdp: '#016ecd',
                      rev2_gov_rev_gdp: '#a631fa',
                      rent_total_gdp: '#da4f4a',
                      calc_govt_take: '#a6a6a6'
                    },
                  }, // data  
                  axis: {
                    y: {
                      max: 100,
                      min: 0,
                      padding: {top:0, bottom:5},
                      label: {
                        text: 'Percent',
                        position: 'outer-middle'
                      },                      
                    },
                    y2: { max: 1.4, 
                          min: 0, 
                          padding: {top:0, bottom:.2},
                    },
                    x: { min: 2000, max:2011,
                    }
                
                  }, // axis
              
                 legend: {
                    position: 'bottom'
                  },
                  
          });// c3.generate
          
      // -------------------------------------------------------------------------      
      // Create the data map
      // -------------------------------------------------------------------------      
          
          $scope.chart1 = new Datamap({
              element: document.getElementById('chart1'),
              scope: "world",
              fills: {
                defaultFill: "#eee",
                haveResourceStats: "#ffbb78", //#faa632
              },
              data: $scope.dataMapFillKeys,              
              "done": function(datamap) {
                  console.log("in done");
                  //$scope.datamap = datamap;
                  console.log($scope.datamap);
                  datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography, data) {
                    //console.log("in on click datamap");
                    $scope.current_country_id = geography.id;
                    $scope.$apply();
                  });
              }, // done
              geographyConfig: {
                highlightOnHover: true,
                highlightFillColor: '#ff7f0e',
                //highlightBorderColor: '#ff7f0e',
                //highlightBorderWidth: 5,
              }
          }); // chart1 
    
      }).error(function(err){
          throw(err);   
      }); // getData


      // -------------------------------------------------------------------------      
      // "Listener" function that is called whenever the current_country_id is
      // changed.  When selection is made in datamap, datamap changes this variable
      // This updates the line chart
      // Have to check for nulls here becuase it is called right at the beginning,
      // before data is loaded
      // -------------------------------------------------------------------------                

     $scope.$watch('current_country_id', function(newValue, oldValue) {
        console.log('watch current_country_id:');
        console.log(newValue);
        //console.log($scope.country_data_json);
        //console.log($scope.country_data_json[newValue]);
        
        if ($scope.country_data_json[newValue] != null) {
          console.log($scope.country_data_json[newValue]);
          $scope.current_country_name = $scope.country_data_json[newValue]["name"];
          
        }    
        if ($scope.chart2 != null) $scope.chart2.load({ columns: $scope.country_resource_stat_data_arr[newValue] });
         
      }, true); 

      // -------------------------------------------------------------------------      
      // These are Event functions that are called when the user clicks a button 
      // on the datamap to
      // highlight or fill by a different variable
      // -------------------------------------------------------------------------                

      $scope.updateOutlinesByGroup = function(group, value) {
        console.log("finding countries in group:" + group + " with value: " + value);
        
        var svg = $scope.chart1.svg;
        
        
        for (countryObjKey in $scope.country_data_json) {
          svg
              .selectAll('.' + countryObjKey)
              .classed({'plainpaths':true,'grouppaths':false });  
        }
        // if "default" then this block never finds a match
        // lazy...
        for (countryObjKey in $scope.country_data_json) {
          if ($scope.country_data_json[countryObjKey][group] == value) {
            svg
              .selectAll('.' + countryObjKey)
              .classed({'plainpaths':false,'grouppaths':true });
          } //end if
        }// end for
      } // end ftn   
              
              
      $scope.updateChloroFillsForStat = function(statName) {
        console.log("updating choro");
        
        if(statName == "default") {
          $scope.chart1.updateChoropleth($scope.dataMapFillKeys);
        }           
          else {
          var countryVals = {};
          countryVals = getTimeSeriesAverage(statName);
          
          var vals = [];
          for(key in countryVals) {
            vals.push(countryVals[key]);
          }            
          
          var color = d3.scale.linear()
                       .domain([d3.min(vals),d3.max(vals)])
                       .range(["#ffead6", "#faa632"]); //faa632 #ffbb78 b28254
          
          var chloroVals = {};
          for(key in countryVals) {
            if (countryVals[key] == null) {
                chloroVals[key] = "#eee";
            }
            else
                chloroVals[key] = color(countryVals[key]);
          }
          $scope.chart1.updateChoropleth(chloroVals);
        }
        
      };

      // -------------------------------------------------------------------------      
      // Helper functions to manage user clicks.
      // -------------------------------------------------------------------------                

      function getTimeSeriesAverageByCountry(ccode, statname) {
        //console.log("getting avg" + statname);
        //console.log($scope.country_macro_stat_data_json[ccode]);
        if ($scope.country_macro_stat_data_json[ccode][statname]) {
          return d3.mean($scope.country_macro_stat_data_json[ccode][statname]);    
        }  
        else if ($scope.country_resource_stat_data_json[ccode][statname]) {
          return d3.mean($scope.country_resource_stat_data_json[ccode][statname]);                    
        }
        else 
          return null;            
      };              
      
      function getTimeSeriesAverage(statName) {
        var statData = {};
        for (countryObjKey in $scope.country_data_json) {
          statData[countryObjKey] = getTimeSeriesAverageByCountry(countryObjKey, statName);    
        }
        console.log(statData);
        return statData;
      };
              


    }); // controller
    
    </script>
    
    


  </body>
</html>